In [2]:
import pandas as pd
import os

In [2]:
df = pd.read_csv('./tickets_temp.csv')
# display(df)

In [3]:
df = df[df['isDirect']==True]

In [7]:
df = df[df['itrClass'] == 2.0]

In [8]:
display(df.groupby('Month').size())

Series([], dtype: int64)

In [9]:
display( df[ df['ClassMiles'].notnull()].sort_values(by='month'))

Empty DataFrame
Columns: [route, isDirect, itrFlight, deptApt, deptAptTime, arrApt, arrAptTime, flightNo, flightSpan, operateBy, itrClass, ClassMiles, ClassInfo, Month, month, Date]
Index: []

In [10]:
lsFile = [each for each in os.listdir('./output/03_06_2024/') if '.csv' in each ]
lsPd = []
for each in lsFile:
    df = pd.read_csv('./output/03_06_2024/' + each)
    lsPd.append(df)
df = pd.concat(lsPd, ignore_index=True)
df = df[df['isDirect']==True]
df = df[df['itrClass'] == 1.0]
df = df[df['ClassMiles'].notnull()]
display(df)

,route,isDirect,itrFlight,deptApt,deptAptTime,arrApt,arrAptTime,flightNo,flightSpan,operateBy,itrClass,ClassMiles,ClassInfo,Month,month,Date
20,1.0,True,1.0,TPE,12:10,SFO,09:05,UA 852,"Non Stop, 11h 55m",United Airlines,1.0,"LM 40,000",NaN,Jul,7,3
42,1.0,True,1.0,TPE,09:50,SFO,06:45,UA 872,"Non Stop, 11h 55m",United Airlines,1.0,"LM 40,000",+ US$ 55.80,Jul,7,5
96,1.0,True,1.0,TPE,10:15,SFO,06:30,BR 8,"Non Stop, 11h 15m",Eva Airways,1.0,"LM 40,000",NaN,Jun,6,2
98,2.0,True,1.0,TPE,09:50,SFO,06:45,UA 872,"Non Stop, 11h 55m",United Airlines,1.0,"LM 40,000",+ US$ 55.80,Jun,6,2
120,1.0,True,1.0,TPE,10:15,SFO,06:30,BR 8,"Non Stop, 11h 15m",Eva Airways,1.0,"LM 40,000",NaN,Jun,6,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4747,1.0,True,1.0,NRT,17:05,SFO,10:35,UA 838,"Non Stop, 09h 30m",United Airlines,1.0,"LM 40,000",NaN,Aug,8,17
4753,1.0,True,1.0,NRT,17:05,SFO,10:35,UA 838,"Non Stop, 09h 30m",United Airlines,1.0,"LM 40,000",NaN,Aug,8,23
4781,1.0,True,1.0,NRT,17:00,SFO,10:55,NH 8,"Non Stop, 09h 55m",All Nippon Airways,1.0,"LM 40,000",NaN,Aug,8,28
4793,1.0,True,1.0,NRT,17:05,SFO,10:35,UA 838,"Non Stop, 09h 30m",United Airlines,1.0,"LM 40,000",+ US$ 66.80,Aug,8,29
4803,1.0,True,1.0,NRT,17:05,SFO,10:35,UA 838,"Non Stop, 09h 30m",United Airlines,1.0,"LM 40,000",+ US$ 66.80,Aug,8,30